<!DOCTYPE html>
<html>
    <head>
        <title>My glorious blog</title>
        <script src="/public/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    </head>
    <body class="container">
        <% for(let info of infos) { %>
            <div class="alert alert-primary">
                <%= info %>
            </div>
        <% } %>
        <% for(let error of errors) { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <% } %>
        <%- body %>
    </body>
</html>