<!DOCTYPE html>
<html>
    <head>
        <title>my groovy blog</title>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container-md">
            <% if(locals.msgs) { %>
                <% if(msgs["infos"]) { %>
                    <% for(let i of msgs["infos"]) { %>
                        <div class="alert alert-info" role="alert"><%= i %></div>
                    <% } %>
                <% } %>
                <% if(msgs["errors"]) { %>
                    <% for(let i of msgs["errors"]) { %>
                        <div class="alert alert-danger" role="alert"><%= i %></div>
                    <% } %>
                <% } %>
            <% } %>
            <%- body %>
        </div>
    </body>
</html>