<!DOCTYPE html>
<html>
    <head>
        <title>My glorious blog</title>
        <script src="/public/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    </head>
    <body class="container">
        <%- body %>
    </body>
</html>