<!DOCTYPE html>
<html>
    <head>
        <title>my groovy blog</title>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container-md">
            <%- body %>
        </div>
    </body>
</html>